.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.test{
  margin: 10px;
}

.back{
  background: #AFD4C0;
}
.home_main{
  background: white;
  width: auto;
  height: 100vh;
  margin-left: 200px;
  margin-right: 200px;
}
.auth_text_box{
  margin: 15px;
}
.loginbtn{
  width: 100px;
  height: 50px;
  font-weight: 500;
  background: #8AEA92;
  position: relative;
  top: 50px;
  right: 160px;
}